.page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 40vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.page-navbar {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1440px;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: 86px;
  justify-content: space-between;
}
.page-pasted-image {
  width: 80px;
  align-self: flex-start;
}
.page-desktop-menu {
  flex: 1;
  display: flex;
  position: relative;
  justify-content: flex-start;
}
.page-desktop-menu {
  display: -webkit-inline-box;
}
.page-nav {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  color: #ffffff;
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.page-button {
  color: rgb(255, 255, 255);
}
.page-button1 {
  color: rgb(255, 255, 255);
}
.page-button2 {
  color: rgb(255, 255, 255);
}
.page-button3 {
  color: rgb(255, 255, 255);
}
.page-button4 {
  color: rgb(255, 255, 255);
}
@media(max-width: 767px) {
  .page-navbar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .page-navbar {
    padding: var(--dl-space-space-unit);
  }
}
